@model GameStore.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "LogIn";
}

<div class="container">
    <div class="row justify-content-center-mt-5">
        <div class="col-lg-4 mx-auto">
            <h1 class="text-center mb-4">Login Page</h1>
            <form method="post" asp-action="LogIn" asp-controller="Account" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p>
                    <input asp-for="Email" type="text" placeholder="Email" class="form-control" required />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </p>
                <p>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </p>
                <p class="remember_me">
                    <label>
                        <input asp-for="RememberMe" />
                        Remember me 
                    </label>
                </p>
                <div>
                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                </div>
                <hr />
                
            </form>
        </div>
    </div>
</div>
