@model GameStore.BLL.Models.CommentModel
 <div class="modal fade" id="EditComment-@Model.Id" aria-labelledby="editCommentLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="editCommentLabel">Edit Comment</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
             <div class="modal-body">
                <form asp-controller="Comment" asp-action="EditComment" method="post">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                     <div class="form-group">
                        <input type="hidden" asp-for="GameId" value="@Model.GameId" />
                        <input type="hidden" asp-for="Id" value="@Model.Id" />
                        <input type="hidden" asp-for="ParentId" value="@Model.ParentId" />
                        <input type="hidden" asp-for="CommentDate" value="@Model.CommentDate" />
                        <textarea type="text" asp-for="CommentText" maxlength="600" placeholder="Leave Comment ..."
                                  style="width:100%; height:60px;"></textarea>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <button type="submit" class="btn btn-primary">Save</button>
                     </div>
                </form>
             </div>
         </div>
     </div>
</div>