@model GameStore.ViewModel.GameViewModel
@{
    //multiselect
}

<div class="container">
    <h3 class="display-4">Create game</h3>

    <form method="post" asp-action="Create" asp-controller="Game" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="GameGenres" class="control-label"></label>
            <select id="listGenres" name="listGenres" asp-for="GameGenres" asp-items="ViewBag.Genres" multiple class="form-control">
                
            </select>
            <span asp-validation-for="GameGenres" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Photo" class="control-label"></label>
            <input asp-for="Photo" class="form-control" type="file" accept="image/*" id="FileName" />
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
        

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary"  />
        </div>

    </form>
</div>

