@model GameStore.BLL.Models.GameModel
@{
    
}

<div class="container">
    <h3 class="display-4">Edit game</h3>

    <form method="post" asp-action="Edit" asp-controller="Game" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Photo" class="control-label"></label>
            <input asp-for="Photo" class="form-control" type="file" accept="image/*" id="FileName" />
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>


        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </form>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
