@using GameStore.DAL.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
     <div class="user-panel">
    <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile" title="Welcome">
            @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
            {
                <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
            }
            @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!
    </a>
    
    <form class="form-inline" asp-controller="Account" asp-action="Logout">
        <button type="submit" class="nav-link btn btn-link text-info">Logout</button>
    </form>
    </div>
}
else
{
    <div class="user-panel">
   <a asp-controller="Account" asp-action="Login">Login</a>  /  <a asp-controller="Account" asp-action="Register">Register</a>
   </div>
}