@using GameStore.DAL.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
     <div class="user-panel">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile" title="Welcome">
            <div class="user-panel">
                <div class="user-info">
                    <span class="user-name">@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</span>
                </div>
                @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
                {
                    <div class="avatar-container">
                        <img src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))"  alt="User avatar" class="avatar rounded-circle">
                    </div>
                }
            </div>
        </a>
    @*<a class="nav-link text-dark" asp-controller="Account" asp-action="Profile" title="Welcome">
            @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
            {
                <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
            }
            @UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName!
    </a>*@
    
    
    </div>
}
else
{
    <div class="user-panel">
   <a asp-controller="Account" asp-action="Login">Login</a>  /  <a asp-controller="Account" asp-action="Register">Register</a>
   </div>
}